MICROSOFT_TENANT_ID=
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=

SHAREPOINT_SITE_HOSTNAME=abbasi1010.sharepoint.com
SHAREPOINT_SITE_PATH=/sites/LSSSchedulingDemo
SHAREPOINT_MEETING_TYPES_LIST=LSS Meeting Types
SHAREPOINT_HOLIDAYS_LIST=LSS Holidays and Closures

OUTLOOK_TARGET_USER=
OUTLOOK_CALENDAR_ID=
OUTLOOK_TIME_ZONE=Eastern Standard Time
OUTLOOK_PUBLISH_ENABLED=false
